@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Verlanglijstjes</h1>
    <p class="lead">Stel online je verlanglijstje samen voor Sinterklaas!</p>
    <p>
        <a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Registreren &raquo;</a>
        <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Inloggen &raquo;</a>
    </p>
</div>